@import url('https://fonts.googleapis.com/css?family=Fira%20Code');

* {
    color: white;
    font-family: 'Fira Code';
}

body {
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: block;
    text-align: center;
}

.main  {
    font-size: 100px;
}

span {
    transition: all 1s ease-in-out;
    display: inline-block;
}

.home {
    background-color: #161616;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    text-decoration: none;
}

.home:visited {
    color: white;
}

.effect {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #161616;
    position: absolute;
    pointer-events: none;
}